* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.btn {
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    transition: 0.3s linear;
}

.btn:hover {
    transform: scale(1.3);
    background-color: white;
    color: palevioletred;
    border: 1px solid;
}

/*home section Start*/
.home {
    padding: 30px 40px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 193, 200);
}

.section-title {
    max-width: 500px;
}

.home .flower-img {
    width: 400px;
}

.section-big {
    font-size: 45px;
    color: black;
    margin-bottom: 0;
}

.section-desc {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: gray;
}
/*home section End*/

.text-titles {
    font-size: 30px;
}

/*banner section Start*/
.banner-container-section {
    height: 80vh;
    padding: 80px;
}

.banner-text {
    text-align: center;
}

.description-text {
    width: 400px;
    margin: auto;
    padding: 10px;
}

.banner-box-images {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.banner-images {
    width: 400px;
    height: 300px;
    text-align: center;
    border-radius: 300px 300px 0px 0px;
}

.banners {
    background: rgba(167, 33, 98, 0.15);
}

.banners-1 {
    background: rgba(5, 151, 160, 0.15);
}

.banners-2 {
    background: rgba(71, 125, 17, 0.15);
}

.banner-images img {
    align-items: center;
    width: 200px;
    height: 250px;
}

.letest-title {
    margin: 10px;
    text-decoration: underline;
}
/*banner section End*/

/*hot deal section Start*/
.hot-deal-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: auto;
    align-items: center;
}

.hot-deal-text {
    width: 300px;
    margin-bottom: 0px;
    padding: 50px;
    text-align: center;
}

.btn-desc {
    color: palevioletred;
    background-color: white;
    margin: 0;
}

.hot-images {
    width: 200px;
    height: 250px;
}
/*hot deal section End*/

/*fetured section Start*/
.featured-title {
    text-align: center;
    margin-top: 40px;
}

.featured-title h3 {
    font-size: 25px;
    font-weight: 700;
}

.fetured-sec {
    width: 400px;
    margin: auto;
    padding: 10px;    
}

.fetured-container-pictures {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 50px;
}

.fetured-container-pictures .fetured-pictures {
    width: 280px;
    height: 280px;
    display: flex;
    margin: auto;
    text-align: center;
}
/*fetured section End*/

/*box message section Start*/
.box-container {
    width: 80%;
    height: 200px;
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    margin: auto;
}

.box-titles {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

.box-titles h1 {
    align-items: center;
    font-size: 30px;
    padding-top: 15px;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section input[type="text"] {
    border: 0;
    padding: 15px 30px;
    width: 400px;
}
/*box message section End*/

